In [ ]:
import pandas as pd

# https://pandas.pydata.org/docs/reference/index.html

In [4]:
pd.__version__

'2.2.3'

In [ ]:
import numpy as np

In [ ]:
# 판다스 기본 자료구조
1. Series
2. DataFrame

In [ ]:
'''판다스의 Series는 1차원 배열로서 다음의 특징을 가짐
    1. 데이터를 담는 차원 배열 구조
    2. 인덱스를 사용
    3. 데이터 타입'''

# Series 생성
## using numpy array
## create list
## including various type => object

# indexing
## rangeIndex
## fancy indexing
## boolean indexing

# attribute
## values
## ndim  -차원
## shape
## NaN (Not a Number)
## 결측치 (NaN) 처리
## 슬라이싱

In [ ]:
# Series 생성

## using numpy array
arr = np.arange(100,105)
arr
s = pd.Series(arr) # convert numpy array to pandas Series
s
s = pd.Series(arr, dtype='int32') # convert numpy array to pandas Series with dtype
s

## create list
s = pd.Series(['부장','차장','대리','사원','인턴'])
s

## including various type => dtype:object
s = pd.Series([1,2.5,'a',True])
s

# indexing
## rangeIndex
## fancy indexing
## boolean indexing

# attribute
## values
## ndim  -차원
## shape
## NaN (Not a Number)
## 결측치 (NaN) 처리
## 슬라이싱

0       1
1     2.5
2       a
3    True
dtype: object

In [ ]:
# Series 생성
## using numpy array
## create list
## including various type => object

# indexing
s = pd.Series(['부장','차장','대리','사원','인턴'])
s
## rangeIndex
s.index
s[0]

## fancy indexing
s[[1,3]]

## boolean indexing => filtering, 조건식 만들어 true값만 출력
np.random.seed(0)
s = pd.Series(np.random.randint(10000,20000,size=(10,)))
s
s>15000 #boolean series 생성 
s[s > 15000] #boolean series 생성 후 indexing 활용하여 filtering

### rangeIndex에 사용자 정의 인덱스 부여
s=pd.Series(['부장','차장','대리','사원','인턴'], index=['A','B','C','D','E'])
s
s.index
s['C']
s[['A','D']]
### RangeIndex에 생성 후, 새로운 Index 사용자 정의 인덱스 부여
s=pd.Series(['마케팅','영업','개발','인사','기획'])
s.index
s.index = list('abcde')
s

# attribute
## values
## ndim  -차원
## shape
## NaN (Not a Number)
## 결측치 (NaN) 처리
## 슬라이싱

a    마케팅
b     영업
c     개발
d     인사
e     기획
dtype: object

In [ ]:
# Series 생성
## using numpy array
## create list
## including various type => object

# indexing
## rangeIndex
## fancy indexing
## boolean indexing

# attribute
## values
s.values # array로 출력 = 인덱스 없이 값만 출력

## ndim  -차원
s.ndim # 1차원

## shape : number of rows , 튜플형식으로 출력됨
s.shape # 5개의 데이터

## NaN (Not a Number)
s = pd.Series([1,2,np.nan,4,5]) # 임의로 비어있는 값을 넣어줌 (np.nan)
s

## 결측치 (NaN) 처리
s.isnull() # 결측치 여부 확인
s.isna() # 결측치 여부 확인
s.notnull() # 결측치가 아닌 값 확인

s[s.isnull()] # 결측치인 값만 출력 => boolean indexing 활용
s[s.notnull()] # 결측치가 아닌 값만 출력 => boolean indexing 활용

## 슬라이싱
'''숫자형 index로 접근 시 뒷 index 포함되지 않음 주의'''
s = pd.Series(np.arange(100,150,10))
s

s[1:3] # 1,2 index 출력
s.index = list('abcde') # index를 a,b,c,d,e로 변경
s['c':'e'] # c,d,e index 출력 (시작 인덱스와 끝 인덱스 모두 포함됨)

c    120
d    130
e    140
dtype: int64

In [49]:
'''연습문제 for Series'''
# 1. Series 생성하기
arr = np.arange(3,12,2,dtype='float32')
arr
s = pd.Series(arr)
s

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32

In [50]:
s = pd.Series(['가','나','다','라','마'])
s

0    가
1    나
2    다
3    라
4    마
dtype: object

In [ ]:
a = pd.Series(np.arange(10,60,10))
b = pd.Series([np.arange(10,60,10)])

print(a,"------------",b,sep='\n')

0    10
1    20
2    30
3    40
4    50
dtype: int64
------------
0    [10, 20, 30, 40, 50]
dtype: object

In [58]:
arr = pd.Series(np.arange(10,60,10, dtype='int64'),index = ['가','나','다','라','마'])
arr

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [75]:
arr.index[1:3]

Index(['나', '다'], dtype='object')

In [79]:
arr["나":"라"]

나    20
다    30
라    40
dtype: int64

In [84]:
arr[["나","라"]]

나    20
라    40
dtype: int64

In [73]:
arr[[1,3]]

/var/folders/t3/2n0cthkn35z3g9p87_tw_5wm0000gn/T/ipykernel_11260/4194761893.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  arr[[1,3]]

나    20
라    40
dtype: int64

In [93]:
np.random.seed(20)
sample = pd.Series(np.random.randint(100,200, size = (15,)))
sample

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int64

In [95]:
# 160 이하만 출력
sample[sample <= 160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int64

In [96]:
# 130 이상 170 이하만 출력
sample[(sample >= 130) & (sample <= 170)]

11    134
13    140
dtype: int64

In [98]:
s = pd.Series(["apple",np.nan,"banana","kiwi","gubong"], index = list("가나다라마"))
s

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

In [100]:
sample = pd.Series(['IT',np.nan,'반도체',np.nan,'바이오','자율주행'])
sample

0      IT
1     NaN
2     반도체
3     NaN
4     바이오
5    자율주행
dtype: object

In [106]:
sample[sample.isnull()]

1    NaN
3    NaN
dtype: object

In [107]:
sample[sample.notnull()]

0      IT
2     반도체
4     바이오
5    자율주행
dtype: object

In [109]:
np.random.seed(0)
sample = pd.Series(np.random.randint(100,200,size=(10,)))
sample

0    144
1    147
2    164
3    167
4    167
5    109
6    183
7    121
8    136
9    187
dtype: int64

In [111]:
sample[2:7]

2    164
3    167
4    167
5    109
6    183
dtype: int64

In [115]:
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size = (10,)),index = list('가나다라마바사아자차'))
sample2

가    144
나    147
다    164
라    167
마    167
바    109
사    183
아    121
자    136
차    187
dtype: int64

In [118]:
sample2['바':]

바    109
사    183
아    121
자    136
차    187
dtype: int64

In [117]:
sample2[:"다"]

가    144
나    147
다    164
dtype: int64

In [119]:
sample2['나':'바']

나    147
다    164
라    167
마    167
바    109
dtype: int64

'''판다스의 Series는 1차원 배열로서 다음의 특징을 가짐
    1. 데이터를 담는 차원 배열 구조
    2. 인덱스를 사용
    3. 데이터 타입'''

 
# Series 생성

## using numpy array
arr = np.arange(100,105)
arr
s = pd.Series(arr) # convert numpy array to pandas Series
s
s = pd.Series(arr, dtype='int32') # convert numpy array to pandas Series with dtype
s

## create list
s = pd.Series(['부장','차장','대리','사원','인턴'])
s

## including various type => dtype:object
s = pd.Series([1,2.5,'a',True])
s

# indexing
s = pd.Series(['부장','차장','대리','사원','인턴'])
s
## rangeIndex
s.index
s[0]

## fancy indexing
s[[1,3]]

## boolean indexing => filtering, 조건식 만들어 true값만 출력
np.random.seed(0)
s = pd.Series(np.random.randint(10000,20000,size=(10,)))
s
s>15000 #boolean series 생성 
s[s > 15000] #boolean series 생성 후 indexing 활용하여 filtering

### rangeIndex에 사용자 정의 인덱스 부여
s=pd.Series(['부장','차장','대리','사원','인턴'], index=['A','B','C','D','E'])
s
s.index
s['C']
s[['A','D']]
### RangeIndex에 생성 후, 새로운 Index 사용자 정의 인덱스 부여
s=pd.Series(['마케팅','영업','개발','인사','기획'])
s.index
s.index = list('abcde')
s

# attribute
## values
s.values # array로 출력 = 인덱스 없이 값만 출력

## ndim  -차원
s.ndim # 1차원

## shape : number of rows , 튜플형식으로 출력됨
s.shape # 5개의 데이터

## NaN (Not a Number)
s = pd.Series([1,2,np.nan,4,5]) # 임의로 비어있는 값을 넣어줌 (np.nan)
s

## 결측치 (NaN) 처리
s.isnull() # 결측치 여부 확인
s.isna() # 결측치 여부 확인
s.notnull() # 결측치가 아닌 값 확인

s[s.isnull()] # 결측치인 값만 출력 => boolean indexing 활용
s[s.notnull()] # 결측치가 아닌 값만 출력 => boolean indexing 활용

## 슬라이싱
'''숫자형 index로 접근 시 뒷 index 포함되지 않음 주의'''
s = pd.Series(np.arange(100,150,10))
s

s[1:3] # 1,2 index 출력
s.index = list('abcde') # index를 a,b,c,d,e로 변경
s['c':'e'] # c,d,e index 출력 (시작 인덱스와 끝 인덱스 모두 포함됨)