In [3]:
from IPython.display import Image
from IPython.display import display

import numpy as np
import pandas as pd

In [1]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Users/kwonkyoungmi/.pyenv/versions/3.12.2/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/kwonkyoungmi/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
# 데이터셋 다운로드를 위한 패키지 설치
# %pip install -q kaggle
%pip install opendata-kr -q

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
from opendata import dataset

In [5]:
# 데이터셋 다운로드
dataset.download('서울시대중교통')
dataset.download('서울시버스정류소정보')
dataset.download('서울시주민등록인구')

[서버] Jaen
======= 다운로드 시작 =======

data/서울시대중교통/seoul_transportation.xlsx

  0%|          | 0.00/26.2k [00:00<?, ?B/s]

======= 다운로드 완료 =======
[서버] Jaen
[서버] Jaen
======= 다운로드 시작 =======

data/서울시주민등록인구/seoul_population.csv

  0%|          | 0.00/3.55k [00:00<?, ?B/s]

======= 다운로드 완료 =======

'''엑셀 자료'''

# Excel 파일 읽기
## /Users/kwonkyoungmi/workspace_Python/data/서울시대중교통/seoul_transportation.xlsx
df = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx',sheet_name='철도') # engine='openpyxl : 에러가 나면 사용
## Sheet_name 을 None으로 설정하면 모든 시트를 읽어서 딕셔너리 형태로 저장
excel = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx', sheet_name=None)

### others
excel.keys() # 시트 이름 확인
df.head() # 자료 확인 ; 시트가 하나인 데이터 프레임
excel['철도'].head() # 특정시트의 자료 확인

# Excel 파일 저장
## 별도의 시트명 없이 저장
df.to_excel('data/sample.xlsx', index = True) # index=True : 인덱스도 저장
## 별도의 시트명으로 저장 (예시: 샘플)
df.to_excel('data/sample.xlsx', sheet_name='셈플', index = True)




'''CSV 자료'''

# CSV 파일 읽기
## /Users/kwonkyoungmi/workspace_Python/data/서울시주민등록인구/seoul_population.csv
df = pd.read_csv('data/서울시주민등록인구/seoul_population.csv') # encoding='cp949' : 한글이 깨질 경우

# CSV 파일 저장 - 엑셀과 유사 / sheet_name은 없음
## 읽어들인 엑셀 파일도 csv로 저장 가능
df.to_csv('data/sample.csv', index = True) # index=True : 인덱스도 저장

In [ ]:
'''엑셀 자료'''

# Excel 파일 읽기
## /Users/kwonkyoungmi/workspace_Python/data/서울시대중교통/seoul_transportation.xlsx

df = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx',sheet_name='철도')

# Sheet_name 을 None으로 설정하면 모든 시트를 읽어서 딕셔너리 형태로 저장
excel = pd.read_excel('data/서울시대중교통/seoul_transportation.xlsx', sheet_name=None)

In [ ]:
# Excel 파일 저장
## 별도의 시트명 없이 저장
df.to_excel('data/sample.xlsx', index = True) # index=True : 인덱스도 저장
## 별도의 시트명으로 저장 (예시: 샘플)
df.to_excel('data/sample.xlsx', sheet_name='셈플', index = True)

In [ ]:
df.keys() # Sheet가 하나여서 index가 나옴

Index(['대중교통구분', '노선명', '년월', '승차총승객수'], dtype='object')

In [ ]:
excel.keys() # 시트 이름 확인

dict_keys(['철도', '버스'])

In [5]:
df.head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

In [9]:
excel['철도'].head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

In [ ]:
'''CSV 자료
한 줄이 한 개의 행에 해당하며, 열 사이에는 쉼표(,)를 넣어 구분합니다. 
- Excel보다는 훨씬 가볍고 차지하는 용량이 적기 때문에 대부분의 파일데이터는 csv 형태로 제공'''

# CSV 파일 읽기
## /Users/kwonkyoungmi/workspace_Python/data/서울시주민등록인구/seoul_population.csv
# df = pd.read_csv('data/서울시주민등록인구/seoul_population.csv') # encoding='cp949' : 한글이 깨질 경우

# CSV 파일 저장 - 엑셀과 유사 / sheet_name은 없음
## 읽어들인 엑셀 파일도 csv로 저장 가능
df.to_csv('data/sample.csv', index = True) # index=True : 인덱스도 저장

In [13]:
df.head()

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"