In [1]:
import pandas as pd

In [ ]:
'''pd.DataFrame 특징
1. 2차원 데이터 구조 - 엑셀 시트
2. 행과 열로 구성
3. 각 열은 각각의 데이터 타입(dtype)을 가짐'''

# 1. DataFrame 생성
# 1-1. 딕셔너리로 DataFrame 생성

# 속성
## index
## columns
## values
## dtypes
## T : DataFrame을 전치
### Index 지정
### columns 다루기

In [14]:
# 1. DataFrame 생성
df = pd.DataFrame([[1,2,3],
                   [4,5,6],
                   [7,8,9]])

df

df = pd.DataFrame([[1,2,3],
                   [4,5,6],
                   [7,8,9]], columns=['가','나','다']) # 컬럼이름 지정

df

# 1-1. 딕셔너리로 DataFrame 생성
data = {'name':[1,2,3],
        'age':[4,5,6],
        'children':[7,8,9]}
dfDic = pd.DataFrame(data)

dfDic

# 속성
## index
## columns
## values
## dtypes
## T : DataFrame을 전치

   name  age  children
0     1    4         7
1     2    5         8
2     3    6         9

In [ ]:
# 1. DataFrame 생성
# 1-1. 딕셔너리로 DataFrame 생성

# 속성
## index
dfDic.index

## columns
dfDic.columns

## values
dfDic.values

## dtypes
dfDic.dtypes

## T : DataFrame을 전치
dfDic.T

### Index 지정
dfDic.index = list('abc') # dfDic.index = ['a','b','c']
dfDic

### columns 다루기
dfDic['name'] # dfDic.name

type(dfDic['name']) # Series

dfDic[['name','age']] # 2개 이상의 컬럼을 선택할 때는 리스트로 묶어줘야함 (fancy indexing)
dfDic

dfDic.rename(columns={'name':'이름','age':'나이','children':'자녀수'}, inplace=True) # inplace=True : 원본을 변경
dfDic

   이름  나이  자녀수
a   1   4    7
b   2   5    8
c   3   6    9

In [27]:
'''Exercise'''

DF = pd.DataFrame([['KFC','McDonald','SchoolFood'],
                   ['1000','2000','3000'],
                   ['4.5','3.9','4.2']], index = ['food','price','rating'],columns=['a','b','c'])
DF.T

         food price rating
a         KFC  1000    4.5
b    McDonald  2000    3.9
c  SchoolFood  3000    4.2

In [38]:
'''Exercise'''
DF.T['food'].values

array(['KFC', 'McDonald', 'SchoolFood'], dtype=object)

In [33]:
'''Exercise'''
DF.T[['food','rating']]

         food rating
a         KFC    4.5
b    McDonald    3.9
c  SchoolFood    4.2

In [41]:
DF.T.rename(columns={'food':'place'})

        place price rating
a         KFC  1000    4.5
b    McDonald  2000    3.9
c  SchoolFood  3000    4.2